In [1]:
import pandas as pd
df_cab = pd.read_csv('cab_rides.csv')
df_weather = pd.read_csv('weather.csv')

In [2]:
def get_gmt_from_unix (unix_time):
    from datetime import datetime
    
    gmt = datetime.fromtimestamp(unix_time)
    unix = gmt.strftime('%B %d %Y')
    
    return unix

In [3]:
import math
def get_gmt_from_unix2 (unix_time):
    from datetime import datetime
    unix_time = math.ceil(unix_time/1000)
    gmt = datetime.fromtimestamp(unix_time)
    unix = gmt.strftime('%B %d %Y %I:%M:%S %p')
    
    return unix

In [4]:
date = df_weather['time_stamp'].map(get_gmt_from_unix)
df_weather['date'] = date
df_weather

,temp,location,clouds,pressure,rain,time_stamp,humidity,wind,date
0,42.42,Back Bay,1.00,1012.14,0.1228,1545003901,0.77,11.25,December 16 2018
1,42.43,Beacon Hill,1.00,1012.15,0.1846,1545003901,0.76,11.32,December 16 2018
2,42.50,Boston University,1.00,1012.15,0.1089,1545003901,0.76,11.07,December 16 2018
3,42.11,Fenway,1.00,1012.13,0.0969,1545003901,0.77,11.09,December 16 2018
4,43.13,Financial District,1.00,1012.14,0.1786,1545003901,0.75,11.49,December 16 2018
...,...,...,...,...,...,...,...,...,...
6271,44.72,North Station,0.89,1000.69,NaN,1543819974,0.96,1.52,December 03 2018
6272,44.85,Northeastern University,0.88,1000.71,NaN,1543819974,0.96,1.54,December 03 2018
6273,44.82,South Station,0.89,1000.70,NaN,1543819974,0.96,1.54,December 03 2018
6274,44.78,Theatre District,0.89,1000.70,NaN,1543819974,0.96,1.54,December 03 2018
6275,44.69,West End,0.89,1000.70,NaN,1543819974,0.96,1.52,December 03 2018

In [5]:
date_cab = df_cab['time_stamp'].map(get_gmt_from_unix2)
df_cab['date'] = date
location = df_cab['source']
df_cab['location'] = location
df_cab

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,date,location
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,December 16 2018,Haymarket Square
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux,December 16 2018,Haymarket Square
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft,December 16 2018,Haymarket Square
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL,December 16 2018,Haymarket Square
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL,December 16 2018,Haymarket Square
...,...,...,...,...,...,...,...,...,...,...,...,...
693066,1.00,Uber,1543708385534,North End,West End,13.0,1.0,616d3611-1820-450a-9845-a9ff304a4842,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,NaN,West End
693067,1.00,Uber,1543708385534,North End,West End,9.5,1.0,633a3fc3-1f86-4b9e-9d48-2b7132112341,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,NaN,West End
693068,1.00,Uber,1543708385534,North End,West End,NaN,1.0,64d451d0-639f-47a4-9b7c-6fd92fbd264f,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi,NaN,West End
693069,1.00,Uber,1543708385534,North End,West End,27.0,1.0,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV,NaN,West End
693070,1.00,Uber,1543708385534,North End,West End,10.0,1.0,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,NaN,West End

In [6]:
#Merge the DataFrames

df_merged = pd.merge(df_cab, df_weather, how='inner', left_index=True, 
                     right_index=True, suffixes=('', '_drop'))

#Drop the duplicate columns

df_merged.drop([col for col in df_merged.columns if 'drop' in col], 
               axis=1, inplace=True)

df_merged

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,date,location,temp,clouds,pressure,rain,humidity,wind
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,December 16 2018,Haymarket Square,42.42,1.00,1012.14,0.1228,0.77,11.25
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux,December 16 2018,Haymarket Square,42.43,1.00,1012.15,0.1846,0.76,11.32
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft,December 16 2018,Haymarket Square,42.50,1.00,1012.15,0.1089,0.76,11.07
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL,December 16 2018,Haymarket Square,42.11,1.00,1012.13,0.0969,0.77,11.09
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL,December 16 2018,Haymarket Square,43.13,1.00,1012.14,0.1786,0.75,11.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6271,2.38,Uber,1543287441975,North Station,South Station,16.0,1.0,4cbc7d49-cbbc-40ba-8f81-f360f20939ad,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,December 03 2018,South Station,44.72,0.89,1000.69,NaN,0.96,1.52
6272,2.38,Uber,1544833505926,North Station,South Station,NaN,1.0,6fe3b8c6-0518-4f1f-8bae-3bea37a6f2e5,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi,December 03 2018,South Station,44.85,0.88,1000.71,NaN,0.96,1.54
6273,2.38,Uber,1543887183221,North Station,South Station,10.5,1.0,ae433225-19e4-4bc7-a531-82745dd8dedd,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,December 03 2018,South Station,44.82,0.89,1000.70,NaN,0.96,1.54
6274,2.38,Uber,1543706876060,North Station,South Station,9.0,1.0,c11fdb13-496a-4a0a-90b6-7757adc47f24,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,December 03 2018,South Station,44.78,0.89,1000.70,NaN,0.96,1.54
6275,0.58,Uber,1545024003869,South Station,Theatre District,7.5,1.0,fd849997-1de5-40d4-ae54-07291c2406af,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,December 03 2018,Theatre District,44.69,0.89,1000.70,NaN,0.96,1.52

In [9]:
df_merged.to_csv('cab_weather_data.csv')